

.Bee {
  
        color:rgb(0, 19, 128);
        background-color: hotpink;

};

.too {
    color:green;
    background-color: burlywood;
};

.beee {
  
    color:rgb(0, 19, 128);
    background-color:khaki;

};